/*
Theme Name:     Hometown Child
Description:    Child theme of the Hometown Theme
Author:         LeafThemes
Author URI:     http://leafthemes.com
Template:       hometown-theme
Version:        1.0.0
*/

/* ------- Insert custom styles below this line ------- */

@font-face {
	font-family: 'HypatiaSansPro';
	src: url('fonts/hypatia-sans-pro.eot');
	src: local('☺'), url('fonts/hypatia-sans-pro.woff') format('woff'),
	url('fonts/hypatia-sans-pro.ttf') format('truetype'),
	url('fonts/hypatia-sans-pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AdamCGPro';
	src: url('fonts/adam-cg-pro-webfont.eot');
	src: url('fonts/adam-cg-pro-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/adam-cg-pro-webfont.woff2') format('woff2'),
	url('fonts/adam-cg-pro-webfont.woff') format('woff'),
	url('fonts/adam-cg-pro-webfont.ttf') format('truetype'),
	url('fonts/adam-cg-pro-webfont.svg#adam.cg_proregular') format('svg');
	font-weight: normal;
}

body {
	font-family: 'HypatiaSansPro', 'Helvetica', 'Verdana', 'Sans-Serif' !important;
}

.features-cat-list,
.sub-features-list {
	list-style-type: inherit;
	margin-top: 10px;
}

li.owners-mainmenu-item {
	border-left-style: solid;
	border-left-color: #333;
	border-left-width: 1px;
	line-height: 25px;
	top: 38px;
}

li.owners-mainmenu-item a {
	color: #8F1336;
}

.primary-nav li.current-menu-item > a {
	color: #1A1A1A !important;
}

.sticky-wrapper {
	position: absolute;
	width: 100%;
}

.header-bg {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.row {
	max-width: 113.75rem;
}

.primary-nav {
	font-family: HypatiaSansPro, Helvetica, Verdana, Sans-Serif;
	font-size: 20px !important;
}

.primary-nav a {
	color: #1A1A1A;
}

.texthomeslider h2 {
	font-family: HypatiaSansPro, Helvetica, Verdana, Sans-Serif;
	font-size: 65px !important;
}

.texthomeslider .home-slider-text {
	text-align: center;
}

.tp-button.red,
.tp-button:hover.red,
.purchase.red,
.purchase:hover.red {
	text-transform: uppercase;
	background-color: #8F1336;
	font-family: AdamCGPro, Helvetica, Verdana, Sans-Serif;
	letter-spacing: 1px;
	padding: 10px 13px 5px;
	font-size: 20px;
}

.texthomeslider .home-slider-text span:last-child {
	position: relative;
	top: -45px;
}

.section {
	padding: 0;
}

.home-text-block,
.footer-top {
	font-family: HypatiaSansPro, Helvetica, Verdana, Sans-Serif;
}

.lt-button {
	font-family: AdamCGPro, Helvetica, Verdana, Sans-Serif;
	border: 1px solid #FFF;
	background-color: #adadad;
}

.home-text-block .sub-title {
	display: none;
}

.paragraph-block {
	font-size: 20px
}


@media only screen and (min-width: 768px) {
	/* tablets and desktop */
}

@media only screen and (max-width: 767px) {
	.texthomeslider h2 {
		font-size: 25px !important;
	}

	.texthomeslider .home-slider-text span:last-child {
		position: relative;
		top: 0;
	}

	.sticky-wrapper {
		position: inherit;
	}

	.tp-button.red,
	.tp-button:hover.red,
	.purchase.red,
	.purchase:hover.red {
		font-size: 30px;
	}
}

.card .status:before,
.card .price:before {
	opacity: 0.6
}

.card .content-wrap {
	background-color: #666666;
}

.card a {
	color: #fff;
}

.card .content-wrap .meta-list,
.card .meta-box-list {
	opacity: 1;
	font-size: 16px;
}

.meta-box-list li {
	background: transparent;
}

.card .meta-box-list li {
	color: #fff;
}

.meta-box-list .lt-icon {
	opacity: 1;
}

.card .status {
	font-size: 20px;
}

.card .price {
	font-size: 26px;
}

.card .title {
	font-size: 1.5em;
}

.widget-title {
	font-size: 44px;
	margin: 0;
}

.footer-top {
	padding: 40px 0;
	background-color: #adadad;
}

a.lt-button.secondary.large.i-right {
	color: #fff;
}

.lt-button.large {
	padding: 15px 34px;
	font-size: 24px;
}

.footer-bottom {
	background-color: #333333;
	color: #FFF;
}

.social-list i {
	border: none;
	color: #FFF;
	font-size: 30px;
}

.footer-bottom .lt-button {
	background-color: #333333;
	padding: 15px 20px;
	font-size: 18px;
}

#about-us-widget {
	text-align: left;
	font-family: "Century Gothic";
}

#about-us-widget h2,
#instagram-feed-widget h2 {
	color: #8F1336;
	font-size: 22px;
}

.red-hyperlink {
	color: #8F1336;
}

#about-us-widget .copyright-text {
	line-height: 50px;
}

#about-us-widget .properticons {
	font-size: 80px;
}

#about-us-widget .copyright-text {
	line-height: 110px;
}

#instagram-feed-widget .instagram-pics img {
	height: 130px!important;
	width: 130px!important;
}

#instagram-feed-widget .instagram-pics li {
	width: auto!important;
	float: left!important;
	margin: 0 0 10px 10px!important;
	background-image: none!important;
}

.community-img {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.wpp_row_view div.property_div {
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-box-shadow: 0px 1px 4px #C1C1C1;
	-moz-box-shadow: 0px 1px 4px #C1C1C1;
	-webkit-box-shadow: 0px 1px 4px #C1C1C1;
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 10px;
	padding: 1%;
	position: relative;
	width: 98%;
}

.wpp_row_view .property_image .property_overview_thumb {
	background: none repeat scroll 0 0 #EFEFEF;
	color: black;
	display: block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

.wpp_row_view .property_div div.wpp_overview_right_column, .wpp_row_view .property_div div.wpp_overview_left_column {
	vertical-align: top;
	float: left;
}

.wpp_row_view ul.wpp_overview_data {
	list-style-type: none;
	padding-left: 5px;
	margin: 0;
}

.wpp_row_view .property_image .property_overview_thumb img {
	margin: 0;
	width: 300px;
}

.wpp_row_view .property_div div.wpp_overview_right_column {
	margin: 5px 0px 0px 10px;
}

.wpp_row_view .property_div div.wpp_overview_right_column li.property_title {
	font-size: 1.4em;
}

.wpp_row_view ul.wpp_overview_data li {
	margin-bottom: 7px;
}

.property_price_lch {
	font-size: 1.4em;
	line-height: 1.2em;
	padding: 0;
}

.wpp_overview_data .lt-icon {
	font-size: 20px;
}

#documents.widget li {
	font-size: 1.4em;
}

.strong-text {
	font-weight: bold;
}

.main-content {
	max-width: 1100px;
	margin: 0 auto;
}

.nt-icon-facebook:hover,
.nt-icon-linkedin:hover,
.nt-icon-twitter:hover,
.nt-icon-gplus:hover,
.nt-icon-instagramm:hover {
	background-color: transparent !important;
}

.nt-icon-facebook:hover {
	color: #3a5795 !important;
}

.nt-icon-linkedin:hover {
	color: #007bb6 !important;
}

.nt-icon-twitter:hover {
	color: #55acee !important;
}

.nt-icon-gplus:hover {
	color: #dd4b39 !important;
}

.nt-icon-instagramm:hover {
	color: #3f729b !important;
}

#partners-logos img {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Firefox 35+ */
	filter: grayscale;
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
#partners-logos img:hover {
	filter: none;
	-webkit-filter: grayscale(0);
}

.absm-logo img {
	transform: translateY(50%);
}

#about-us-content {
	max-width: 750px;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
	.sticky-wrapper {
		position: inherit;
	}
}

.page-template-template-property-listing-full-width .main-content {
	margin-bottom: 20px;
}

#instagram-feed-widget p.clear a {
	display: none;
}

.layout-wrap.mobile-menu-active .map-wrap {
	display: none;
}

form input[type='tel'],
.wpcf7-form input[type='tel'] {
	padding: 10px 10px;
	border: 1px solid #ccc;
	background: transparent;
	margin: 0;
	outline: none;
	display: inline-block;
	width: 100%;
	background: #fff;
	max-width: 100%;
}

.select2-dropdown {
	z-index: 1999999999;
}

#wpcf7-f2530-o1 p {
	margin: 0 0 10px 0;
}

.agent-card .title {
	font-size: 25px;
}

footer {
	margin-top: 25px;
}

.communities-row {
	margin-top: 30px;
}

.page-template-template-property-search h2.title {
	text-align: center;
	font-size: 40px;
}

.page-template-template-property-search h2.residences-title {
	margin-bottom: 0;
}